{% extends "layout.html" %}

{% block title %}Page 2{% endblock %}

{% block content %}
  <h1>Who was the 16th president of the United States?</h1>

 <form action="/page3" method="POST">
  <input type="radio" name="pres" value="Abraham Lincoln" >Abraham Lincoln<br>
  <input type="radio" name="pres" value="James K. Polk" >James K. Polk<br>
  <input type="radio" name="pres" value="Martin Van Buren" >Martin Van Buren<br>
  <input type="radio" name="pres" value="Andrew Jackson" >Andrew Jackson<br>
  <input type="submit" value="Submit">
 </form> 



{% endblock %}
