{% extends "layout.html" %}

{% block title %}Page 4{% endblock %}

{% block content %}
  <h1>Question #4</h1>

 <form action="/page4" method="POST">
  What year did WW2 end?<br>
  <input type="radio" name="WW2" value="1837" checked> 1837<br>
  <input type="radio" name="WW2" value="1945" checked> 1945<br>
  <input type="radio" name="WW2" value="1932" checked> 1932<br>
  <input type="radio" name="WW2" value="1928" checked> 1928<br>
  <input type="submit" value="Submit">
 </form> 


{% endblock %}
